<body>
  <form [formGroup]='editForm'>
    <div class="row">
      <div class="col-md-12">

        <div class="row card card-block">

          <div class="col-md-12 form-group">
            <label class="control-label">รหัสประจำตัว</label>
            <label class="control-label col-md-12" style="font-weight: bolder">{{userdata.userId}}</label>
          </div>

          <div class="col-md-12 form-group">
            <label class="control-label">ชื่อ</label>
            <input type="text" class="form-control" id="firstname" [(ngModel)]="userdata.firstname" formControlName="firstname" placeholder="ชื่อ">
          </div>

          <div class="col-md-12 form-group">
            <label class="control-label">นามสกุล</label>
            <input type="text" class="form-control" [(ngModel)]="userdata.lastname" formControlName="lastname" placeholder="นามสกุล">
          </div>

          <div class="col-md-12">
            <div id="bottom-right">
              <button class="btn btn-success" (click)="editStudent()">บันทึก</button>
              <button class="btn btn-danger" [routerLink]="['/pages/admin/liststudent']">ย้อนกลับ</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</body>