
<div class=login-page>
  <div class=img-container>
      <div class="text-center pull-right photo">
         <!-- <img src="assets/images/flat-avatar.png" class="user-avatar img-circle img-responsive"> -->
          <img src="assets/images/lo.png" class="user-avatar img-responsive">
          <h1>NURSING DIARY</h1>
      </div>
  </div>
  <div class=form-content>
      <form role=form class=bottom-75 [formGroup]='logonForm'>
          <div class=table-form>
              <div class=form-groups>
                  <div class=form-group>
                      <input class="form-control input-lg" [(ngModel)]="username" formControlName="username" placeholder="รหัสนักศึกษา/อาจารย์" type="text">
                  </div>
                  <div class=form-group>
                      <input class="form-control input-lg" [(ngModel)]="password" formControlName="password" placeholder="รหัสผ่าน" type="password">
                  </div>
              </div>
              <div class=button-container>
                  <button type=submit class="btn btn-default login" (click)="Login()">
                      <img src="assets/images/arrow.png">
                  </button>
              </div>
          </div>
      </form>
  </div>
</div>

<!-- <body>
  <form [formGroup]='logonForm'>
    <div class="card card-block login-card">
      <h3 class="form-label">เข้าสู่ระบบ</h3>

      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon addon-left" id="username">
            <i class="fa fa-user fa-fw"></i>
          </span>
          <input class="form-control with-primary-addon" [(ngModel)]="username" formControlName="username" placeholder="รหัสนักศึกษา/อาจารย์" type="text">
        </div>
        <div class="input-group">
          <span class="input-group-addon addon-left" id="password">
            <i class="fa fa-lock fa-fw"></i>
          </span>
          <input class="form-control with-primary-addon" [(ngModel)]="password" formControlName="password" placeholder="รหัสผ่าน" type="password">
        </div>
        <button class="btn btn-lg btn-primary" (click)="Login()">Login</button>

      </div>
    </div>
  </form>
</body> -->