<div class="pages-top">
  <div class="avatar-wrap">
    <!-- <div class="avatar">
      <img src="{{avatarImgSrc}}" alt="avatar">
    </div> -->
    <div class="user-info-wrap">
      <span class="user-name" title="{{userName}}">{{userName}}</span>
      <span class="user-post" title="{{userPost}}">{{userPost}}</span>
    </div>
  </div>

  <div class="collapse-menu" (click)="_sidebarToggle()">
    <!-- <i class="fa fa-navicon fa-fw" [ngClass]="{'toggle-on':sidebarToggle,'toggle-off':!sidebarToggle}"></i> -->
    <i class="fa fa-dedent fa-fw" *ngIf="sidebarToggle"></i>
    <i class="fa fa-indent fa-fw" *ngIf="!sidebarToggle"></i>
  </div>
  


  <!-- <div class="search-group">
    <input type="text" class="search-input" placeholder="Search project · · ·">
    <button class="search-btn">
      <i class="fa fa-search fa-fw"></i>
    </button>
  </div> -->

  

</div>
