.row{
    margin-left:0px;
    margin-right:0px;
}
.tagsinput {
    border: 1px solid #e3e6ed;
    border-radius: 6px;
    padding: 6px 1px 1px 6px;
    overflow-y: auto;
    text-align: left;
}
.tagsinput .tag {
    border-radius: 4px;
    background-color: #41cac0;
    color: #ffffff;
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: 5px;
    overflow: hidden;
    line-height: 15px;
    padding: 6px 13px 8px 19px;
    position: relative;
    vertical-align: middle;
    display: inline-block;
    zoom: 1;
    -webkit-transition: 0.14s linear;
    -moz-transition: 0.14s linear;
    -o-transition: 0.14s linear;
    transition: 0.14s linear;
    // -webkit-backface-visibility: hidden;
}
.tagsinput-add-container {
    vertical-align: middle;
    display: inline-block;
    zoom: 1;
}
.tagsinput input {
    background: transparent;
    border: none;
    color: #34495e;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    margin: 0px;
    padding: 0 0 0 5px;
    outline: 0;
    margin-right: 300px;
    margin-bottom: 5px;
}
.tip {
    width: 0px;
    height: 0px;
    position: absolute;
    background: transparent;
    border: 10px solid #26A69A;
  }
  
  .tip-left {
    top: 10px;
    left: -25px;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;  
  }
  
  .dialogbox .body {
    position: relative;
   // max-width: 300px;
    height: auto;
    margin: 20px 10px;
    padding: 10px;
    background-color: #B2DFDB;
    border-radius: 3px;
    border: 5px solid #009688;
  }
  .body .message {
    min-height: 30px;
    border-radius: 3px;
    font-family: Arial;
    font-size: 18px;
    line-height: 1.5;
    color:  #283593;
    word-wrap:break-word;
  }